@model Validador_de_Fechas.Models.DateModel
@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>
<html lang='es-CL'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Result By Cayuyo</title>
</head>

<body>
    <div class="wrap">
        <h1>Result: </h1>
        <p>The date entered is: @Model.Date</p>
        <div class="submitBtn1">
            <button class="btn1">
                <a href="/">Go Back</a>
            </button>
        </div>
    </div>
</body>

</html>